<div class="container">
  <div *ngIf = "changer"> 
    <div class="jumbotron pb-5 pt-5 text-white">
      <h3>GAME OVER!!</h3>
      <!-- <p>Player Id: {{playerId}}</p> -->
      <h5 *ngIf = "playerScore > 0" >Player Score: {{playerScore}}</h5>
      <h5 *ngIf = "playerScore == 0" >You are DUCK :P</h5>
    </div>
  </div>
  <table class="table table-hover table-dark mt-3">
    <thead>
      <tr>
        <th scope="col">Game Id</th>
        <th scope="col">Played On</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody *ngFor = "let point of scores$">
      <tr>
        <td>{{ point.id }}</td>
        <td>{{ point.playedat }}</td>
        <td>{{ point.scorepoint }}</td>
      </tr>
    </tbody>
  </table>
</div>