div {
    .container {
        padding: 2% 10%;
    }
    .jumbotron {
        background-color: #333031;
        text-align: center;
    }
}
@media (max-width: 992px) {
    div.jumbotron {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (max-width: 576px) {
    div.jumbotron {
        margin: 0;
    }
}