$primary: rgba(0, 0, 0, 0);

div.card{
    background-color: white;
    padding: 0%;
    margin: 2%;
    max-width: 12rem;
    max-height: 12rem;
}

@media (max-width: 576px) {
    div.card{
        max-width: 10rem;
        max-height: 10rem;
    }
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}
.btn-xl {
    padding: 6rem;
    margin: 0%;
}
@media (max-width: 576px) {
    .btn-xl {
        padding: 5rem;
    }
}
a {
    cursor: pointer;
    &:active,
    &:focus,
    &:hover {
        opacity: 0.1;
    }
}
