<div id = "card_{{card.id}}" >
    <a class="btn btn-primary btn-xl" (click)="onClick()" id = "button_{{card.id}}"></a>
</div>

<!-- <div class="container ">
  <div class="row justify-content-center">
    <div class="row mr-2">
        <a class="btn btn-primary btn-xl"></a>
    </div>
    <div class="row ml-2">
      <a class="btn btn-primary btn-xl"></a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="row mr-2">
      <a class="btn btn-primary btn-xl"></a>
    </div>
    <div class="row ml-2">
      <a class="btn btn-primary btn-xl"></a>
    </div>
  </div>
</div> -->