$primary: rgba(0, 0, 0, 0);

div.card{
    background-color: white;
    margin: 2%;
    // max-width: 14rem;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}
.btn-xl {
    padding: 7rem;
    margin: 0%;
}
a {
    cursor: pointer;
    &:active,
    &:focus,
    &:hover {
        opacity: 0.1;
    }
}
