header {
    margin: 0;
    height: 100vh;
    background-image: url('../assets/img/image3.jpg');
    background-position: center center;
    background-size: cover;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
}