<div class="col text-center mb-3">
  <countdown (finished)="onComplete()" [config]="config" class="flip-cd">
    <div class="time">$!m!
      <div class="label"></div>
    </div>
    <div class="time">$!s!
      <div class="label"></div>
    </div>
    
  </countdown>

<div class = "card-deck d-flex justify-content-center" id="play">
  <app-card *ngFor = "let card of cards" [card]="card" (onClickListener)='cardClickProcess($event)'></app-card>
</div>

<div class="jumbotron pb-2 pt-2 text-white">
  <h5>Score: {{score}}</h5>
</div>